body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  margin-left: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  border: solid 1px black;
}

label {
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
}

input {
  width: 150px;
  margin-bottom: 15px;
}

button {
  width: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  border-color: rgb(187, 179, 179);
  border-radius: 10%;
  font-weight:bold;
}
button:hover {
  background-color: rgb(78, 138, 248);
  color: white;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

li button {
  width: auto;
  margin: 0 10px;
}
li button:hover {
  background-color: rgb(78, 138, 248);
  color: white;
  cursor: pointer;
}

